{{>layout/header}}

<h1>Join Page</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="email"> 이메일 </label>
                <input type="email" class="form-control" id="email" placeholder="이메일 주소를 입력해주세요">
            </div>

            <div class="form-group">
                <label for="memberName"> 이름 </label>
                <input type="text" class="form-control" id="memberName" placeholder="이름을 적어주세요">
            </div>

            <div class="form-group">
                <label for="password"> 비밀번호 </label>
                <input type="text" class="form-control" id="password" placeholder="비밀번호">
            </div>

            <div class="form-group">
                <label for="passwordCheck"> 비밀번호 확인 </label>
                <input type="text" class="form-control" id="passwordCheck" placeholder="비밀번호 체크">
            </div>

            <div class="form-group">
                <label for="location"> 지역 </label>
                <textarea class="form-control" id="location" placeholder="지역을 입력하세요"></textarea>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-join">회원가입</button>
        <a hrf="/" role="button" class="btn btn-secondary">취소</a>
    </div>


{{>layout/footer}}