{{>layout/header}}
<h1>게시글 상세보기</h1>

<div>
    현재 접속자 : <span id = "connectedMember">{{memberName}}</span>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <form >
            <div class="form- group">
                <label for="id">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{boards.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{boards.title}}" readonly>
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" id="author" value="{{boards.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content">제목</label>
                <input type="text" class="form-control" id="content" value="{{boards.content}}" readonly>
            </div>
        </form>
        <a href="/boards/update/{{boards.id}}" role="button" class="btn btn-primary" id="updatebtn">수정</a>
        <a href="/" role="button" class="btn btn-secondary">목록으로</a>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제 </button>
    </div>
</div>

{{>layout/footer}}
